@model FlooringProgram.Models.Order
@{
    ViewBag.Title = "Display";
}

<h2>Order Information</h2>

<ul>
    <li>@Html.DisplayNameFor(order => order.OrderNumber)</li>
    <li>@Html.DisplayFor(order=> order.OrderNumber)</li>

    <li>@Html.DisplayNameFor(order => order.CustomerName)</li>
    <li>@Html.DisplayFor(order => order.CustomerName)</li>


    <li>@Html.DisplayNameFor(order => order.StateName)</li>
    <li>@Html.DisplayFor(order => order.StateName)</li>

    <li>@Html.DisplayNameFor(order => order.ProductType)</li>
    <li>@Html.DisplayFor(order => order.ProductType)</li>

    <li>@Html.DisplayNameFor(order => order.Area)</li>
    <li>@Html.DisplayFor(order => order.Area)</li>

    <li>@Html.DisplayNameFor(order => order.MaterialCost)</li>
    <li>@Html.DisplayFor(order => order.MaterialCost)</li>
    <li>
        <ul>
        <li>@Html.DisplayNameFor(order => order.CostPerSquareFoot)</li>
        <li>@Html.DisplayFor(order => order.CostPerSquareFoot)</li>
        </ul>
    </li>

    <li>@Html.DisplayNameFor(order => order.LaborCost)</li>
    <li>@Html.DisplayFor(order => order.LaborCost)</li>
    <li>
    <ul>
        <li>@Html.DisplayNameFor(order => order.LaborCostPerSquareFoot)</li>
        <li>@Html.DisplayFor(order => order.LaborCostPerSquareFoot)</li>

    </ul>
    </li>

    <li>@Html.DisplayNameFor(order => order.TotalTax)</li>
    <li>@Html.DisplayFor(order => order.TotalTax)</li>

    <li>@Html.DisplayNameFor(order => order.Total)</li>
    <li>@Html.DisplayFor(order => order.Total)</li>
</ul>
